 <header>

      <div class="d-flex justify-content-between ">
        <div>
          <h1>My Blog's</h1>
        </div>
        <div>
          <h3>

           <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
         
        </ul>
                  </h3>

        </div>
       
        
        </div>
        <hr style="height: 10px;">
        {{!-- {{description}} --}}

      
    </header>