<form class="border border-dark" id="editform">
  <div class="text-center">
   <div class="form-floating m-1">
  <textarea class="form-control " placeholder="Leave a comment here" id="titleEL">{{title}}</textarea>
</div>
  </div>

  <div>
       <div class="form-floating m-1">
  <textarea class="form-control"  placeholder="Leave a comment here" id="descriptionEL">{{description}}</textarea>
  <label for="floatingTextarea"></label>
</div>
  <textarea class="form-control" disabled placeholder="Leave a comment here" id="floatingTextarea">Puplished At:{{formatData createdAt}}</textarea>
<button  id="update" class="{{id}}">update</button>
<button id="delete">delete</button>

      
  </div>


</form>
<script src="/js/edit.js"></script>
