<div class="card">
  <h7 style="background-color: rgb(60,179,113)
;">{{title}}</h7>
  <div class="card-body">
    <p class="card-title">{{description}}</p>
 
  <p class="card-body" style="font-size: 10px; color:cornflowerblue">posted By:{{user.username}}</p>
  </div>
  <textarea placeholder="add comment here" id="comment"></textarea>
  <button type="submit" id="submit">submit your comment</button>
</div>
 <script src="/js/addcomment.js"></script>